.aboutright {
    position: relative;
    left: 32%;
    margin: 1rem 0;
    width: 50%;
    margin-left: 9rem;
}

.aboutright>div {
    display: grid;
    grid-template-columns: 100%;
    margin: 1rem auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 0;
}

.aboutright>div:first-child img {
    padding: 0;
    float: left;
    clear: both;
    margin-right: 1rem;
}

.aboutright>div:first-child span {
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.7;
    padding-right: 5px;
}

.aboutright>div:first-child h4 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.aboutright>div:last-child {
    padding-left: 1rem;
}

.aboutright>div:last-child h4 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.aboutright>div:last-child img {
    padding: 0;
    float: right;
    clear: right;
    margin-left: 1rem;
}

.aboutright>div:last-child span {
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.7;
}

@media only screen and (max-width:576px) {
    .aboutright {
        margin-left: 0;
        left: 0;
        width: 90%;
        margin: 1rem auto;
        margin-bottom: 4rem;
    }
    .aboutright>div:first-child h4,
    .aboutright>div:last-child h4 {
        font-size: 1.5rem;
    }
    .aboutright>div:first-child img,
    .aboutright>div:last-child img {
        display: block;
        float: none;
        margin: 0 auto;
    }
    .aboutright>div:first-child span,
    .aboutright>div:last-child span {
        display: block;
        font-size: 1rem;
        text-align: center;
        padding: 0 1rem;
    }
    .aboutright>div:last-child {
        padding-left: 0;
    }
}